<div class="page-wrapper">
  <div class="uk-card uk-card-default card">
    <!--  displaying shit-->
    <h4>Welcome to Deligo! Please Login</h4>
    <form class="uk-form-stacked">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Email</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-text" type="text" />
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Password</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-password" type="password" />
        </div>
      </div>

      <!-- <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">Select</label>
        <div class="uk-form-controls">
          <select class="uk-select" id="form-stacked-select">
            <option>Option 01</option>
            <option>Option 02</option>
          </select>
        </div>
      </div> -->
      <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1">Login</button>
      </div>
      <div class="uk-text-center">
        <p>
          New member? Register
          <a routerLink="/deligo-ecommerce/signup">here.</a>
        </p>
      </div>
    </form>
  </div>
</div>
