h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.text-wrapper{
    padding: 2em;
    margin-block: 60px;
}
.card{
    width: 100%;
    padding: 2em;
    margin-block: 60px;
}
.page-wrapper{
    
    background: #eff0f5;
}