<header class="header">
  <div class="uk-container uk-container-medium">
    <nav class="uk-navbar-container" uk-navbar style="background: transparent">
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">Deligo </a>

        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: star"
              ></span>
              Delivery
            </a>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <div class="uk-navbar-item">
          <form action="javascript:void(0)">
            <input
              class="uk-input uk-form-width-medium"
              type="text"
              placeholder="Search"
            />
            <button class="uk-button uk-button-default">
              <span class="" uk-icon="icon: search; ratio: 1"></span>
            </button>
          </form>
        </div>

        <div class="uk-navbar-item">
          <a routerLink="./customer-login">Login</a>
          <a routerLink="./customer-signup" class="uk-margin-small-left"
            >Register</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
