<div class="page-wrapper">
  <div
    class="uk-container uk-container-medium uk-margin-small-top"
    style="padding-bottom: 80px"
  >
    <div class="uk-child-width-expand@s uk-margin-large-top" uk-grid>
      <div>
        <div class="text-wrapper">
          <h1>Become a delivery partner in Deligo Online Shop</h1>

          <h4>
            Use your tricycle to deliver goods to customers. It takes just one
            click to sign up.
          </h4>
        </div>

        <div class="button uk-margin-medium-top">
          <button type="button" class="uk-button uk-button-primary">
            Sign Up
          </button>
        </div>

        <div class="others uk-margin-large-top">
          <p>
            Are you a business/store owner and want to sell products with us?
            Click <a href="">here</a> to register as one of Deligo's vendors.
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-body">Picture here</div>
      </div>
    </div>
  </div>
</div>
