.page-wrapper{
    min-height: calc(100vh - 185px);
    padding-block: 2em;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    margin: 0;
}

.product-img{

    display: grid;
    place-items: center;
    height: 487px;
}